<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-text class="Text-font" style="margin-top: 70px;">เลือกรูปภาพของท่าน </ion-text>
  
  <ion-col class="btn-submit" >
    <ion-button shape="round" expand="block" class="btn-top">
      <ion-icon class="btn-icon-top" name="image-outline"></ion-icon>
     เลือกรูปจากมือถือของท่าน
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button shape="round" expand="block" class="btn-bottom">
      <ion-icon class="btn-icon-top" name="camera-outline"></ion-icon>
      ถ่ายรูปใหม่
    </ion-button>
  </ion-col>
  
</ion-content>